# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Kyosk/Debug/config.conf
Kyosk/Debug/Kyosk.ilk
Kyosk/Debug/logs/myeasylog.log
Kyosk/ipch/kyosk-5a34e045/kyosk-d57fd45d.ipch
Kyosk/Debug/Kyosk.pdb
Kyosk/Kyosk.sdf
Kyosk/Kyosk/Debug/Kyosk.log
Kyosk/Kyosk/Debug/vc120.pdb
Kyosk/Kyosk/Debug/Kyosk.tlog/link.write.1.tlog
Kyosk/Kyosk/Debug/Kyosk.res
Kyosk/Kyosk/Debug/Kyosk.tlog/cl.command.1.tlog
Kyosk/Kyosk/Debug/Kyosk.tlog/rc.read.1.tlog
Kyosk/Kyosk/Debug/Kyosk.tlog/CL.write.1.tlog
Kyosk/Kyosk/Debug/Kyosk.tlog/CL.read.1.tlog
Kyosk/Kyosk/Debug/Kyosk.tlog/link.command.1.tlog
Kyosk/Kyosk/Debug/Kyosk.tlog/Kyosk.lastbuildstate
Kyosk/Kyosk/Debug/vc120.idb
Kyosk/Kyosk/Debug/Kyosk.tlog/link.read.1.tlog
Kyosk/Kyosk/Debug/Kyosk.tlog/rc.command.1.tlog
Kyosk/Kyosk/Debug/Kyosk.tlog/rc.write.1.tlog
DesktopKeyLogger/Debug/DesktopKeyLogger.ilk
DesktopKeyLogger/Debug/DesktopKeyLogger.pdb
DesktopKeyLogger/DesktopKeyLogger.sdf
DesktopKeyLogger/Release/DesktopKeyLogger.pdb
DesktopKeyLogger/Release/config.conf
DesktopKeyLogger/ipch/desktopkeylogger-a0bbaf5b/desktopkeylogger-1a8cef0f.ipch
DesktopKeyLogger/ipch/desktopkeylogger-a0bbaf5b/desktopkeylogger-27332449.ipch
DesktopKeyLogger/DesktopKeyLogger/Release/vc120.pdb
DesktopKeyLogger/DesktopKeyLogger/Release/DesktopKeyLogger.tlog/rc.write.1.tlog
DesktopKeyLogger/DesktopKeyLogger/Release/DesktopKeyLogger.tlog/rc.read.1.tlog
DesktopKeyLogger/DesktopKeyLogger/Release/DesktopKeyLogger.tlog/rc.command.1.tlog
DesktopKeyLogger/DesktopKeyLogger/Release/DesktopKeyLogger.tlog/link.command.1.tlog
DesktopKeyLogger/DesktopKeyLogger/Release/DesktopKeyLogger.log
DesktopKeyLogger/DesktopKeyLogger/Release/DesktopKeyLogger.tlog/cl.command.1.tlog
DesktopKeyLogger/DesktopKeyLogger/Release/DesktopKeyLogger.tlog/CL.write.1.tlog
DesktopKeyLogger/DesktopKeyLogger/Release/DesktopKeyLogger.tlog/link.read.1.tlog
DesktopKeyLogger/DesktopKeyLogger/Release/DesktopKeyLogger.tlog/DesktopKeyLogger.lastbuildstate
DesktopKeyLogger/DesktopKeyLogger/Release/DesktopKeyLogger.tlog/link.write.1.tlog
DesktopKeyLogger/DesktopKeyLogger/Release/DesktopKeyLogger.res
DesktopKeyLogger/DesktopKeyLogger/Release/DesktopKeyLogger.tlog/CL.read.1.tlog
DesktopKeyLogger/DesktopKeyLogger/Debug/vc120.pdb
DesktopKeyLogger/DesktopKeyLogger/Debug/vc120.idb
DesktopKeyLogger/DesktopKeyLogger/Debug/DesktopKeyLogger.tlog/cl.command.1.tlog
DesktopKeyLogger/DesktopKeyLogger/Debug/DesktopKeyLogger.log
DesktopKeyLogger/DesktopKeyLogger/Debug/DesktopKeyLogger.tlog/link.read.1.tlog
DesktopKeyLogger/DesktopKeyLogger/Debug/DesktopKeyLogger.tlog/rc.command.1.tlog
DesktopKeyLogger/DesktopKeyLogger/Debug/DesktopKeyLogger.tlog/CL.read.1.tlog
DesktopKeyLogger/DesktopKeyLogger/Debug/DesktopKeyLogger.tlog/link.command.1.tlog
DesktopKeyLogger/DesktopKeyLogger/Debug/DesktopKeyLogger.tlog/rc.read.1.tlog
DesktopKeyLogger/DesktopKeyLogger/Debug/DesktopKeyLogger.tlog/DesktopKeyLogger.lastbuildstate
DesktopKeyLogger/DesktopKeyLogger/Debug/DesktopKeyLogger.tlog/CL.write.1.tlog
DesktopKeyLogger/DesktopKeyLogger/Debug/DesktopKeyLogger.tlog/rc.write.1.tlog
DesktopKeyLogger/DesktopKeyLogger/Debug/DesktopKeyLogger.tlog/link.write.1.tlog
DesktopKeyLogger/DesktopKeyLogger/Debug/DesktopKeyLogger.res
DesktopTrayIcon/Debug/DesktopTrayIcon.ilk
DesktopTrayIcon/Debug/DesktopTrayIcon.pdb
DesktopTrayIcon/DesktopTrayIcon/Debug/DesktopTrayIcon.tlog/CL.read.1.tlog
DesktopTrayIcon/DesktopTrayIcon/Debug/DesktopTrayIcon.res
DesktopTrayIcon/DesktopTrayIcon/Release/DesktopTrayIcon.tlog/link.write.1.tlog
DesktopTrayIcon/DesktopTrayIcon/Debug/vc120.idb
DesktopTrayIcon/DesktopTrayIcon.sdf
DesktopTrayIcon/DesktopTrayIcon/Debug/DesktopTrayIcon.tlog/DesktopTrayIcon.lastbuildstate
DesktopTrayIcon/DesktopTrayIcon/Release/DesktopTrayIcon.log
DesktopTrayIcon/DesktopTrayIcon/Debug/DesktopTrayIcon.tlog/rc.write.1.tlog
DesktopTrayIcon/DesktopTrayIcon/Release/DesktopTrayIcon.tlog/rc.write.1.tlog
KeyConfig/ipch/keyconfig-2bdb520f/keyconfig-90780ccb.ipch
DesktopTrayIcon/Release/DesktopTrayIcon.pdb
DesktopTrayIcon/DesktopTrayIcon/Release/DesktopTrayIcon.tlog/link.read.1.tlog
KeyConfig/KeyConfig.sdf
KeyConfig/KeyConfig/Debug/KeyConfig.tlog/CL.write.1.tlog
DesktopTrayIcon/DesktopTrayIcon/Debug/DesktopTrayIcon.tlog/link.command.1.tlog
DesktopTrayIcon/DesktopTrayIcon/Release/DesktopTrayIcon.tlog/cl.command.1.tlog
DesktopTrayIcon/DesktopTrayIcon/Debug/DesktopTrayIcon.tlog/link.write.1.tlog
DesktopTrayIcon/ipch/desktoptrayicon-21a648db/desktoptrayicon-3f11d30f.ipch
DesktopTrayIcon/DesktopTrayIcon/Debug/DesktopTrayIcon.tlog/link.read.1.tlog
DesktopTrayIcon/DesktopTrayIcon/Release/DesktopTrayIcon.tlog/DesktopTrayIcon.lastbuildstate
KeyConfig/ipch/keyconfig-2bdb520f/keyconfig-c8b50f45.ipch
KeyConfig/KeyConfig/Debug/KeyConfig.tlog/link.write.1.tlog
KeyConfig/Debug/KeyConfig.pdb
DesktopTrayIcon/DesktopTrayIcon/Release/DesktopTrayIcon.tlog/CL.write.1.tlog
DesktopTrayIcon/ipch/desktoptrayicon-21a648db/desktoptrayicon-94c94909.ipch
DesktopTrayIcon/DesktopTrayIcon/Debug/DesktopTrayIcon.tlog/rc.command.1.tlog
DesktopTrayIcon/DesktopTrayIcon/Debug/DesktopTrayIcon.tlog/rc.read.1.tlog
DesktopTrayIcon/DesktopTrayIcon/Release/DesktopTrayIcon.tlog/rc.command.1.tlog
KeyConfig/KeyConfig/Debug/KeyConfig.tlog/KeyConfig.lastbuildstate
DesktopTrayIcon/DesktopTrayIcon/Release/DesktopTrayIcon.tlog/rc.read.1.tlog
KeyConfig/KeyConfig/Debug/KeyConfig.tlog/link.read.1.tlog
KeyConfig/KeyConfig/Debug/KeyConfig.res
DesktopTrayIcon/DesktopTrayIcon/Release/DesktopTrayIcon.tlog/CL.read.1.tlog
DesktopTrayIcon/DesktopTrayIcon/Debug/DesktopTrayIcon.tlog/cl.command.1.tlog
DesktopTrayIcon/DesktopTrayIcon/Release/DesktopTrayIcon.tlog/link.command.1.tlog
KeyConfig/KeyConfig/Debug/KeyConfig.tlog/rc.command.1.tlog
DesktopTrayIcon/DesktopTrayIcon/Release/vc120.pdb
KeyConfig/KeyConfig/Debug/KeyConfig.tlog/rc.read.1.tlog
KeyConfig/KeyConfig/Release/KeyConfig.tlog/cl.command.1.tlog
KeyConfig/KeyConfig/Debug/vc120.pdb
DesktopTrayIcon/DesktopTrayIcon/Debug/DesktopTrayIcon.log
DesktopTrayIcon/DesktopTrayIcon/Debug/DesktopTrayIcon.tlog/CL.write.1.tlog
DesktopTrayIcon/DesktopTrayIcon/Debug/vc120.pdb
KeyConfig/KeyConfig/Debug/KeyConfig.log
KeyConfig/KeyConfig/Release/KeyConfig.res
KeyConfig/KeyConfig/Release/KeyConfig.tlog/CL.read.1.tlog
KeyConfig/KeyConfig/Debug/vc120.idb
KeyConfig/KeyConfig/Release/vc120.pdb
KeyConfig/KeyConfig/Release/KeyConfig.tlog/rc.write.1.tlog
KeyConfig/KeyConfig/Release/KeyConfig.tlog/rc.read.1.tlog
KeyConfig/KeyConfig/Release/KeyConfig.tlog/rc.command.1.tlog
KeyConfig/KeyConfig/Release/KeyConfig.tlog/link.read.1.tlog
KeyConfig/KeyConfig/Debug/KeyConfig.tlog/rc.write.1.tlog
KeyConfig/Debug/KeyConfig.ilk
KeyConfig/KeyConfig/Release/KeyConfig.tlog/CL.write.1.tlog
KeyConfig/KeyConfig/Debug/KeyConfig.tlog/CL.read.1.tlog
KeyConfig/KeyConfig/Release/KeyConfig.log
KeyConfig/KeyConfig/Release/KeyConfig.tlog/link.command.1.tlog
KeyConfig/KeyConfig/Debug/KeyConfig.tlog/cl.command.1.tlog
DesktopTrayIcon/DesktopTrayIcon/Release/DesktopTrayIcon.res
KeyConfig/KeyConfig/Release/KeyConfig.tlog/KeyConfig.lastbuildstate
KeyConfig/KeyConfig/Release/KeyConfig.tlog/link.write.1.tlog
